@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --clr-bg: green;
  --image-width: 20rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.125rem;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #fcfdfd;
  color: var(--fg-clr);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  width: -webkit-max-content;
  width: max-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
}

.card {
  background-color: #f4f4f4;
  background: linear-gradient(-35deg, rgba(107, 129, 145, 0.5), rgba(191, 222, 238, 0.8));
  border-radius: 1em;
  box-shadow: 0 20px 30px -15px #1234;
  overflow: hidden;
  border: 1px solid;
  border-color: #fff5 #fff2 #0005 #fff2;
}
.card .card-header {
  font-size: 1.2em;
  padding: 1em 3em;
  border-bottom: 1px solid #0005;
  box-shadow: 0 0 15px 5px #0002;
  background-color: #0001;
}
.card .card-body {
  width: 100%;
  padding: 1em;
  position: relative;
}
.card .card-body .card-image-container {
  margin: 0 auto;
  --image-width: 8rem;
  position: relative;
  width: var(--image-width);
  height: calc(var(--image-width) * 1.25);
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  margin-bottom: 0.5em;
}
.card .card-body .card-image-container .card-image-inner {
  position: absolute;
  background-color: #f5f6f7;
  width: var(--image-width);
  height: var(--image-width);
  border-radius: var(--image-width);
  bottom: 0;
}
.card .card-body .card-image-container .card-image-inner img {
  display: block;
  max-width: 110%;
  transform: translate(-5%, -20%);
}
.card .card-body .card-details {
  letter-spacing: 1.2px;
}
.card .card-footer {
  font-size: 0.8em;
  color: #333;
  background-color: #0001;
  padding: 1em 3em;
  box-shadow: 0 0 15px 5px #fff5;
  border-top: 1px solid #fff5;
}

.center {
  text-align: center;
}